<!DOCTYPE html>
<head>
    <title>First JS program</title>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script type="text/javascript">
                 var app =  angular.module("myapp",[]);
                app.controller("mycontroller",function($scope){
                
                })
                </script>
                <body>

        <div ng-app="myapp" ng-controller="mycontroller">
            <form>

            <input type="text" ng-model="name" name="" ><br>
            select:<input type="checkbox" ng-model="checkbox"><br>
        
           <h1>Name is: {{name}}<h1>
            <h1>The value of checkbox is:{{checkbox}}</h1>

            <h1 style ="color: blue;">select one topic</h1>
            select:<input type="radio" ng-model="mweb" value="php"> PHP<br>
            select:<input type="radio" ng-model="mweb" value="java"> java<br>
            select:<input type="radio" ng-model="mweb" value="python"> python<br>

            <h1 style="color:red;">The value of radio is:{{mweb}}</h1>

            <select ng-model="myvar">
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
                </select>
                
                <h1 style="color:red;">selected value is:{{myvar}}</h1>

        </div>
</head>
</html>