<!DOCTYPE html>
<head>
    <title>First JS program</title>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
            <script type="text/javascript">
                //how to create module
           var app =  angular.module("studentapp",[]);
                //how to create contorllers
                app.controller("mycontroller",function($scope){
                })
            </script>
        <body ng-app="studentapp" ng-controller="mycontroller">
            <input type="text" ng-model="text" name=" "><br>
            Name: {{ text | lowercase }};<br><br>
            Name: {{ text | uppercase }};<br><br>
            <input type="text" ng-model="price" currency=" ">
            Price: {{ price| currency }};
        </body>
</head>
</html>